@charset "utf-8";

/*==================================================
ギャラリーのためのcss
===================================*/
.gallery{
columns: 3;/*段組みの数*/
padding:0 100px;/*ギャラリー左右に余白をつける*/
text-align: center;
margin: 0px 50px;
}

.gallery li {
    margin-bottom: 20px;/*各画像下に余白をつける*/
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img{
  width:50%;
  height:auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/}

/*横幅900px以下の段組み設定*/
@media only screen and (max-width: 900px) {
  .gallery{
  columns:3;
  } 
}

@media only screen and (max-width: 768px) {
  .gallery{
  columns: 2;
  } 
}


/*========= レイアウトのためのCSS ===============*/

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}

h1{
  text-align: center;
  font-size:6vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin:30px 0;
}

p{
  margin:0 10px 10px 10px;
  word-wrap : break-word;
}

/*画像を出現させるアニメーションCSS*/

.flipLeft{
animation-name: flipLeft;
animation-duration:1s;
animation-fill-mode:forwards;
perspective-origin: left center;
opacity: 0;
}

@keyframes flipLeft{
  from {
   transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
  opacity: 0;
  }

  to {
  transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
  opacity: 1;
  }
}




.garallypagebtn {
  margin-left: 65%;
  font-family: 游明朝;
  color: black;
  text-decoration: none;
  font-size: 1.7rem;
   /*矢印と下線の基点とするためrelativeを指定*/
   position: relative;
   /*形状*/
   display: inline-block;
   padding: 0 20px;
   color: #333;
   text-decoration: none;
   outline: none;
}

/*矢印と下線の形状*/
.garallypagebtn::before{
  color: #333;
  content: '';
  /*絶対配置で下線の位置を決める*/
  position: absolute;
  bottom:-8px;
  left:15%;
  /*下線の形状*/    
  width: 85%;
  height: 1px;
  background:#333;
  /*アニメーションの指定*/
  transition: all .3s;
}

.garallypagebtn::after{
  color: #333;
  content: '';
  /*絶対配置で矢印の位置を決める*/
  position: absolute;
  bottom:-3px;
  right:0;
  /*矢印の形状*/    
  width: 15px;
  height:1px;
  background:#333;
  transform: rotate(35deg);
  /*アニメーションの指定*/
  transition: all .3s;
}

/*hoverした際の移動*/
.garallypagebtn:hover::before{
  color: #333;
  left:30%;
}

.garallypagebtn:hover::after{
  color: #333;
  right:-15%;
}

.garallypagebtn:hover{
  color: #333;
  
}
